.container {
  margin: 0 5px 5px 5px;
  padding: 5px;
  border: 1px solid gray;
  border-top: none;
  /* background-color: lightgray; */
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
