.text {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: blue;
  cursor: pointer;
}
.breakLine {
  word-break: break-word;
}
.number {
  width: 50px;
  text-align: right;
}
